.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  font-family: 'Georgia';
}

.title-tile {
  width: 3vw;
  border-color: black; 
  font-size: 3vw;
  background-color: white;
  border-width: 0.25rem; 
  color: black;
  text-align: center;
}

.title-tile::placeholder{
  color: black
}

.body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.theme-input {
    height: 7vmin;
    width: 100%;
    font-size: 1.5vmax;
    font-family: 'Georgia';
}
